<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://spnsfunctions.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/a640c976-574b-4b39-8941-2a69dd73feec/resourceGroups/SmartParkingNavigationSystem/providers/Microsoft.Web/sites/SPNSfunctions</ResourceId>
    <UserName>$SPNSfunctions</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://spnsfunctions.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>